/* main */
.footer-container {
  background-color: #F5F5F7;
  padding: 1.2rem;
  margin-top: 12px;
}

/* contact */
.contact-info-text > h6 {
  color: rgb(110, 110, 115);
  font-size: 0.7rem;
  margin: 0 auto 4px auto;
  text-align: center;
  font-weight: normal;
}

.contact-info-text > h6:nth-child(3) {
  margin: 0 auto 0 auto;
}

.contact-info-text > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}