/* main */
.hero-container {
  background-image: url("../../public/images/iphone-main.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 472px;
  position: relative;
}

.hero-container > div:nth-child(1) {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-container > div > h1 {
  font-size: 1.8rem;
  margin: 0;
  text-align: center;
  color: #f5f5f7;
}

.hero-container > div > h3 {
  font-size: 1rem;
  color: #f5f5f7;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.hero-container > div > div,
.hero-container > div > a {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0 0;
}

.hero-container > div > div > h6,
.hero-container > div > div > a,
.hero-container > div > a > h6,
.her {
  margin: 0;
  color: #2897ff;
  font-size: 1rem;
  font-weight: normal;
}

.hero-container > div > div > h6:nth-child(1) {
  margin: 0;
}

.last-products {
  background-image: url("../../public/images/redmi.jpg");
  margin-top: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.last-products > div > h1,
.last-products > div > h3 {
  color: #1d1d1f;
}

.info-text-phones {
  margin: 0 !important;
}

.price,
.price:hover {
  align-items: center;
  background-color: #0171e3;
  border-radius: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  left: 0;
  margin: auto;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  width: fit-content;
  text-align: center;
}

.chevron {
  width: 28px;
  z-index: 1;
  position: absolute;
  top: 50%;
}

.chevron-left {
  left: 12px;
}

.chevron-right {
  right: 12px;
}

.review-container {
  padding: 0 24px;
}

.review-title {
  margin-top: 60px;
  font-size: 1.8rem;
  font-weight: 600;
}

.review-des {
  font-size: 1rem;
  font-weight: 400;
}

.review-phone-title {
  font-size: 1.2rem;
  padding: 0 6px;
  color: rgb(33, 37, 41);
}

.review-phone-det {
  font-size: 1.2rem;
  margin-top: 12px;
}

.review-phone-det-container {
  padding: 0 6px;
}

.delete {
  width: 100%;
  text-align: end;
  color: #2897ff;
  font-size: 0.9rem;
  padding: 0 6px;
}

.total-des {
  font-size: 1.4rem;
  font-weight: 600;
}

.last-products:nth-child(1) {
  margin-top: 0;
}

.total-buy-ticket-container {
  background-color: #0171e3;
  border-radius: 20px;
  color: #fff;
  height: 60px;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.total-buy-ticket {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.nav-alt {
  background-color: transparent;
  position: relative;
}

.opacity-alt {
  opacity: 0.85;
}

.text-white {
  color: #fff;
}

.phone-detail-ms {
  font-size: 0.7rem !important;
}

.new-bg-color {
  background-color: #f5f5f7;
}

.input-form-client {
  width: 100%;
  margin-top: 12px;
  border: 1px solid #cececf;
  background-color: transparent;
  border-radius: 12px;
  padding: 28px 12px 8px;
  color: #1d1d1f;
}

.input-form-client:focus,
.payment-method:focus,
.sort-by-container:focus,
.phone-detail-display-select:focus,
.total-buy-ticket-container:focus {
  outline: none !important;
}

.text-placeholder-alt {
  margin-left: 10px;
  color: #757575;
}

.width-per {
  width: 100%;
}

.text-placeholder {
  color: #757575;
  font-size: 0.7rem;
  font-weight: 400;
  position: absolute;
  top: 20px;
  left: 14px;
}

.payment-method {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  color: #757575;
  background-color: transparent;
  border: 1px solid #cececf;
  padding: 0 12px;
  text-transform: capitalize;
}

.compro-form-client {
  width: 100%;
  margin-top: 12px;
  border: 1px solid #cececf;
  background-color: transparent;
  border-radius: 12px;
  padding: 28px 12px 8px;
  color: #1d1d1f;
}

.button-for-com {
  background-color: #757575;
  margin-top: 12px;
  margin-bottom: 0;
}

.info-notes-container > p,
.info-notes-container > div > p {
  font-size: 0.7rem;
  margin: 0;
  color: rgb(110, 110, 115);
}

.capitalize {
  text-transform: capitalize;
}

.width-alt {
  width: 48%;
}

.with-pers {
  width: 94%;
  margin: auto;
}

.opacity-unit {
  opacity: 0.05;
}

.phone-details-alt {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.phone-details-alt > p {
  margin: 4px auto;
  font-size: 0.8rem;
  width: 100%;
  padding: 0 12px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.fon-per-det {
  font-weight: 600;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #161617;
}

.menu > div > a {
  font-size: 1.7rem;
  color: #dadada;
  font-weight: 600;
  margin-top: 6px;
}

.close-button-menu-alt {
  position: absolute;
  width: 28px;
  top: 16px;
  right: 20px;
}

.search-bar {
  border-radius: 0;
  width: 80%;
  background-color: transparent;
  border: none;
  margin: auto;
  padding: 8px 16px 60px 32px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #dadada;
}

.search-bar:focus {
  outline: none !important;
}

.search-bar::placeholder {
  font-size: 1.4rem;
  font-weight: 600;
  color: #dadada;
}

.search-prod-image {
  width: 60px;
  height: 70px;
  border-radius: 12px;
  object-fit: cover;
  margin-right: 12px;
}

.search-prod-details > h3 {
  font-size: 0.7rem;
  color: #fff;
  margin: 2px;
}

.search-prod-details > h3:nth-child(1) {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.search-prod-price {
  color: #0171e3;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.search-price-container {
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.hr-products {
  color: rgb(110, 110, 115);
}

.sort-by-container {
  width: 32%;
  height: 40px;
  border-radius: 12px;
  color: #757575;
  background-color: transparent;
  border: none;
  padding: 0 0px 0 8px;
  z-index: 1;
}

.search-bar-lup {
  top: 12px;
  left: 32px;
  width: 28px;
}

.position-delete-search {
  width: 20px;
  top: 16px;
  right: 32px;
}

.search-bar-products {
  overflow: auto;
  height: 64vh;
  margin-bottom: 1040px;
}

.container-phones {
  height: 80px;
}

.currency {
  font-size: 1.4rem;
  font-weight: 300;
  color: #dadada;
}

.currency-color-alt {
  color: #000000;
}

.dollar-button-menu-alt {
  position: absolute;
  width: 28px;
  top: 16px;
  right: 80px;
}

.bs-button-menu-alt {
  position: absolute;
  top: 13px;
  right: 80px;
}

.form-check-input:focus {
  box-shadow: none;
}

.phone-detail-display-select {
  word-wrap: normal;
  width: 92px;
  height: 30px;
  color: #1d1d1f;
  background-color: transparent;
  border: none;
  font-weight: 500;
  margin-left: -4px;
  z-index: 1;
}

.form-switch .form-check-input {
  width: 60px;
  height: 32px;
}

.container-select-color {
  width: fit-content;
}

.chevron-down {
  width: 12px;
  position: absolute;
  right: 3px;
}

.chevron-down-alt {
  right: 26px;
  top: 14px;
}

.position-alt {
  right: 34px;
  top: 9px;
}

.width-to-help {
  width: 120px;
}

.phone-detail-display-select-alt {
  font-size: 1.2rem;
  color: rgb(33, 37, 41);
}

.copy-icon {
  width: 16px;
  margin-left: 8px;
}

.details-icon-button {
  right: 54px;
}

.not-found-main-container {
  background-color: #161617;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;

  h1 {
    color: #dadada;
    font-weight: 600;
    font-size: 1.4rem;
  }
}

.link-to-home {
  margin-top: 20px;
  color: #2897ff;
  font-weight: 400;
  font-size: 1rem;
}

.link-to-home-logo {
  text-align: center;

  img {
    width: 40%;
    margin-bottom: 40px;
  }
}

.go-back-button-not-found {
  width: 100%;

  img {
    width: 50px;
    margin: 20px;
  }
}

.main-not-found-info {
  height: 100%;
}
